<IfModule mod_headers.c>
  Header always set Access-Control-Allow-Origin "*"
  Header always set Access-Control-Allow-Methods "GET, POST, OPTIONS"
  Header always set Access-Control-Allow-Headers "Content-Type"

  Header always set Cache-Control "public, max-age=31536000, immutable"
  Header always set Expires "Sun, 21 Jun 2027 00:00:00 GMT"
  Header unset Pragma
  Header unset ETag
</IfModule>

Options -Indexes

<Files "index.php">
  Require all granted
</Files>
<Files "upload.php">
  Require all granted
</Files>

<FilesMatch "\.(php|php[0-9]|phtml|pl|py|jsp|asp|aspx|cgi|shtml|sh|exe|bat|cmd)$">
  Require all denied
</FilesMatch>

<IfModule mod_mime.c>
  AddType image/webp .webp
</IfModule>

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE image/svg+xml image/webp
</IfModule>

<FilesMatch "^\.">
  Require all denied
</FilesMatch>

LimitRequestBody 10485760
